.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 48px;
    justify-content: space-between;
    flex-direction: row;
  }

  @media screen and (min-width: 1120px) {
    gap: 24px;
    justify-content: space-between;
    flex-direction: row;
  }
}
