.input-forms {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-forms__item {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  border: 1px solid $brdColor;
  height: 48px;
  padding: 16px;
  border-radius: 8px;
}

.input-message {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  height: 118px;
}
