.techs__item {
  text-decoration: none;
  display: flex;
  width: 240px;
  height: 160px;
  color: $text;
}

.side-menu-link {
  text-decoration: none;
  display: flex;
  color: $text;
}

.politics-link {
  text-decoration: none;
  color: $polColor;
}
