.main-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.main-title__title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 14px;
  letter-spacing: -0.6px;
  margin-right: auto;
}

.modal-title {
  font-weight: 950;
}

.main-title__highlighter {
  position: absolute;
  left: 0;
  @media screen and (min-width: 1440px) {
    left: 320px;
  }
}
